//resource.scss
$themeColor: #fe6b0d;

@mixin triangle {
  &:after {
    content: '';
    position: absolute;
    top: 40%;
    border-top: solid 5px black;
    border-left: solid 4px transparent;
    border-right: solid 4px transparent;
    border-bottom: solid 5px transparent;
  }
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
