//resource.scss
$themeColor: #fe6b0d;
$Color: #191f30;
@mixin triangle {
  &:after {
    content: '';
    position: absolute;
    top: 40%;
    right: -14px;
    border-top: solid 5px black;
    border-left: solid 4px transparent;
    border-right: solid 4px transparent;
    border-bottom: solid 5px transparent;
  }
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; //作为弹性伸缩盒子模型显示。
  -webkit-box-orient: vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
  -webkit-line-clamp: 2; //显示的行
}

@mixin ell {
  overflow: hidden; //超出的文本隐藏
  text-overflow: ellipsis; //溢出用省略号显示
  white-space: nowrap; //溢出不换行
}
