.home {
  .van-nav-bar__title {
    color: #fff;
  }
  .van-nav-bar {
    background: $themeColor;
    height: 60px;
  }
  .van-icon {
    color: #fff;
  }
  .content {
    position: relative;
    padding: 0px 12px;
    z-index: 2;
    margin-top: -20px;
    background: #ffffff;
    border-radius: 12px 12px 0px 0px;
  }
  .van-tab {
    flex: none;
  }
  .van-tabs__line {
    border-radius: 20px;
    height: 4px;
    width: 16px;
    background-color: #fe6b0d;
  }

  .location {
    position: relative;
    @include triangle;
  }

  .right {
    position: absolute;
    right: 25px;
    top: 12px;
  }
}
