.home {
  .van-nav-bar__title {
    color: #fff;
  }
  .van-nav-bar {
    background: $themeColor;
    height: 60px;
  }
  .van-icon {
    color: #fff;
  }
  .content {
    position: relative;
    padding: 0px 16px;
    z-index: 2;
    margin-top: -20px;
    background: #ffffff;
    border-radius: 12px 12px 0px 0px;
  }
  .home-main {
    padding: 0px 16px;
  }
  .van-tab {
    flex: none;
    color: #95a4b3;
  }
  .van-tabs__wrap {
    padding: 0px 16px;
  }
  .van-tabs__line {
    border-radius: 20px;
    height: 4px;
    width: 16px;
    background-color: $themeColor;
  }
  .van-tab--active {
    color: $Color;
  }

  .location {
    position: relative;
    @include triangle;
  }

  .right {
    position: absolute;
    right: 30px;
    top: 12px;
  }

  .home-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  .home-section {
    widows: 100%;
    height: 60px;
    border-radius: 8px;
    line-height: 60px;
    background: {
      image: url('../img/公共资源服务.png');
      size: cover;
    }

    .home-p {
      color: #fff;
      text-align: left;
      padding: 0px 24px;
      font: {
        weight: 600;
        size: 18;
      }
    }
  }
}
